<p>
  <mat-toolbar color="primary">
    <span>
      <a routerLink="/employeeData" class="link">Employee Manager</a>
    </span>
    <span class="example-spacer"></span>
    <!-- <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button> -->
    <span>
      <button
        routerLink="/dashboard"
        mat-icon-button
        class="example-icon dashboard-icon"
      >
        <mat-icon>dashboard</mat-icon>
      </button>
    </span>
  </mat-toolbar>
</p>
